@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h5>Product Inventory to manage the product details for hassle free maintenance of in house items.</h5>
<div>
    <p><img src="~/images/productscartimage.png" alt="" /> It can be widely used in various department</p>
</div>