@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Chennai<br />
    Tamil Nadu<br />
    <abbr title="Phone">P:</abbr>
    258-263-1
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@productoinvent.com">Support@productoinvent.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@productoinvent.com</a>
</address>
